.item {
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding: 1rem;
	background-color: #002d31;
}

@media (prefers-color-scheme: light) {
	.item {
		background-color: #f9f9f9;
	}
}
